<div class="content_container">
	<div id="qual_container">
		<h2>New qualification</h2>	
		<%= render :partial => 'form' %>
	<!-- END #qual_container --></div>	
<!-- END .content_container --></div>	
