* {
	padding:0;
	margin:0;
}

li {
	list-style:none;
}

form p {
	margin-top:7px;
}

#content div {
	margin-top:5px;
}

hr {
	color:#cdcdcd;
	margin-top:10px;
	border:1px solid #cdcdcd;
}

/*===CLASS STYLES==========================================================*/
.content_container {
	padding:10px;
}

.content_container p {
	margin-top:5px;
}

.content_container h3 {
	margin-top:5px;
}

.content_container p.indent {
	margin-left:10px;
}

.content_container img {
	border:1px solid #9E9E9E;
}


.clear {
	clear:both;
}

.admin_links a {
	text-decoration:none;
	border:1px solid #fff;
	padding:1px;
	margin-top:5px;
	font-size:0.7em;
}

/*===BODY==========================================================*/
body { 
	background-color: #fff; 
	font-family:"Lucida Grande", arial;
	font-size:0.7em;
}

/*===CONTAINER==========================================================*/
#container {
	width:922px;
	background:#dfdfdf;
	margin-left:auto;
	margin-right:auto;	
}

/*===BANNER==========================================================*/
#banner {
	height:101px;
	background:url(../images/logo.png) no-repeat 0px 0px;
}

#banner a {
	position:absolute;
	height:60px;
	width:250px;
	margin-top:20px;
	margin-left:10px;
}


/*===NAV==========================================================*/
#nav_bar {
		height:30px;
		background:#204fe8;
		margin-top:0px;
}

#nav {
	background: url(../images/nav.gif) no-repeat;
	width:525px;
	height:30px;
	margin: 0;
	padding: 0;
	float:left;
}

#nav li a {
	height:30px;
	display:block;
}

#nav li {
	float: left;
	list-style: none;
	display: inline;
}

#nav .hidden {
	display:none;
}

#home {
	width: 64px;
}

#home a:hover {
	background: url(../images/nav.gif) 0 -30px no-repeat;
}

#home a:active {
	background: url(../images/nav.gif) 0 -60px no-repeat;
}


#search {
	width: 151px;
}

#search a:hover {
	background: url(../images/nav.gif) -64px -30px no-repeat;
}

#search a:active {
	background: url(../images/nav.gif) -64px -60px no-repeat;
}

#profile {
	width: 156px;
}

#profile a:hover {
	background: url(../images/nav.gif) -215px -30px no-repeat;
}

#profile a:active {
	background: url(../images/nav.gif) -215px -60px no-repeat;
}

#login {
	width: 69px;
}

#login a:hover {
	background: url(../images/nav.gif) -371px -30px no-repeat;
}

#login a:active {
	background: url(../images/nav.gif) -371px -60px no-repeat;
}


#contact {
	width: 84px;
}

#contact a:hover {
	background: url(../images/nav.gif) -440px -30px no-repeat;
}

#contact a:active {
	background: url(../images/nav.gif) -440px -60px no-repeat;
}

/*===CONTENT==========================================================*/
#content  {
	min-height:500px;
	padding:10px;
}

#content a {
	color:#204fe8;
}

#content a:hover {
	background:#204fe8;
	color:#fff;
	text-decoration:none;
}

#content h2 {
	margin-bottom:5px;
	margin-top:10px;
}

#content h3 {
	margin-bottom:5px;
	margin-top:10px;
}

/*===FOOTER==========================================================*/
#footer {
	height:30px;
	background:url(../images/footer.png);
	border-top:#fff solid 1px;

}
p#footer_content {
	margin-left:160px;
	font-size:0.9em;
	color:#000;
	padding-top:8px;
	width:380px;
	float:left;
}

p#footer_content a {
	color:#000;
}

#rc {
	width:200px;
	float:right;
	margin-right:180px;
	padding-top:5px;
}

#rc_logo {
	width:135px;
	background:url(../images/footer_rclogo.png) no-repeat;
	height:18px;
}

#rc_logo a {
	display:block;
	height:18px;
	overflow:hidden;
}

#rc_logo a:hover {
	background: url(../images/footer_rclogo.png) no-repeat 0px -23px 
}

.rc_text {
	margin-left:20px;
}

/*===HOME INDEX==========================================================*/
#intro_blurb {
	float:left;
	width:428px;
	margin-top:5px;
	margin-left:20px;
}

#sign_up {
	padding-top:40px;
	padding-left:100px;

}

#admin_links {
	margin-left:8px;
	background:;
	margin-bottom:2px;
	height:20px;
}

#admin_links a {
	color:#fff;
	text-decoration:none;
	background:#ee6464;
	border:1px solid #fff;
	padding:3px;
	margin-top:5px;
}

#admin_links a:hover {
	color:#ee6464;
	text-decoration:none;
	background:#fff;
	border:1px solid #ee6464;
	padding:3px;
	margin-top:5px;
}

#posts {
	float:right;
	width:389px;
	background:#c6c6c6;
	padding:7px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#posts a {
	
}

#posts h3 {
	margin-bottom:2px;
}

.post_external_links {
	color:#200298;
}

.post_admin_links a {
	font-size:0.7em;
	color:black;
	text-decoration:none;
	background:#ee6464;
	border:1px solid #fff;
	padding:3px;
	margin-top:0px;
}

span.post_admin_links a:hover {
	font-size:0.7em;
	background:#200298;
	color:#fff;
}

div.post a {
	color:#200298;
	text-decoration:none;
}

div.post a:hover {
	color:#fff;
	background:#200298;
}

/*===USER-META==========================================================*/
#user_meta {
	float:right;
	width:380px;
	margin-right:5px;
	margin-top:8px;
	color:#fff;
	text-align:right;
}

#user_meta a {
	color:#fff;
	text-decoration:none;
	background:#204fe8;
	border:1px solid #fff;
	padding:3px;
}

#user_meta a:hover {
	color:#204fe8;
	text-decoration:none;
	background:#fff;
	border:1px solid #204fe8;
	padding:3px;
}

/*===USER-QUALS==========================================================*/
.user_qual_box {
	background:;
	margin-top:5px;
	height:;
}

.user_qual_box_body_header {
	background:#999;
	display:inline;
	border:1px solid #300;
	padding:1px;
}

.user_qual_box_level_header {
	background:#999;
	display:inline;
	border:1px solid #300;
	padding:1px;
}

.user_qual_box_tech_header {
	background:#999;
	display:inline;
	border:1px solid #300;
	padding:1px;
}

#user_quals_table {
	margin-top:7px;
	line-height:26px;
	margin-bottom:20px;
}

#user_quals_table tr:hover {
background-color: #f9ffb5;
}

#user_quals_table tr {

}

#user_quals_table td {
	
}

.list-line-odd {
	background:#CCC;
}

.list-line-even {
	
}

.list-line-odd_user_index {
	background:#c6dae2;
}

.list-line-even_user_index {
	
}

h2.h2header {
	background:#fff;
	border:1px solid #000;
	padding:1px;
	display:inline;
	margin-top:20px;
}

#user_nav {
	margin-bottom:20px;
	margin-top:5px;
}

#profile_quals {
	margin-top:10px;
}

.qualifications_box {
	border:1px solid #A6A6A6;
	padding:5px;
	margin-bottom:20px;
}

/*===USER-HISTORIES==========================================================*/
.history_box {
	margin-top:7px;
	background:;
	border:1px solid #A6A6A6;
	padding:5px;
	margin-bottom:20px;
	
}

.history_position {
	color:#666;
}

.history_date {

}

.history {
	background:;	
	padding-top:0px;
}

.history_sector {
	background:#999;
	display:inline;
	border:1px solid #300;
	padding-top:0px;
	margin-left:0px;
	margin-top:2px;
}

/*===USER-BIO==========================================================*/
.bio_data {
	margin-bottom:30px;

}

#user_bio_table {
	margin-top:5px;
}

.bio_box {
	border:1px solid #A6A6A6;
	padding:5px;
	margin-bottom:20px;
	line-height:18px;
}


/*===USER-INDEX==========================================================*/
.candidate_index_box {
	background:#C6C6C6;
	margin-top:5px;
	padding:5px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	
}

.user_index_sector {
	border:1px solid #000;
}

.candidate_index_box table {
	margin-top:5px;
}

.help {
	background:#FFF065;
	border: 1px solid #FFD025;
	padding-right:3px;
	padding-left:3px;	
}

/*===TERMS==========================================================*/


/*===LOGIN-LOGOUT==========================================================*/
#password {
	margin-top:20px;
}

/*===SIGN-UP==========================================================*/
#sign_up_form {
	width:400px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background: url(../images/sign_up_bg2.gif) no-repeat #fff;
	padding:20px;
	border:1px solid #B4B4B4;
	margin-right:auto;
	margin-left:auto;
	
}

.sign_up_help {
	width:430px;
	background:#FFF065;
	border: 1px solid #FFD025;
	padding-right:3px;
	padding-left:3px;
	margin-right:auto;
	margin-left:auto;
}

#sign_up_container {
	width:450px;
	margin-right:auto;
	margin-left:auto;
}

#sign_up_container h2 {
	margin-left:7px;
}

#login_container {
	width:450px;
	margin-right:auto;
	margin-left:auto;
}

#login_container h2 {
	margin-left:7px;
}

#login_form {
	width:400px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background: url(../images/sign_up_bg2.gif) no-repeat #fff;
	padding:20px;
	border:1px solid #B4B4B4;
	margin-right:auto;
	margin-left:auto;
	
}

#password_reset_new {
	width:450px;
	margin-right:auto;
	margin-left:auto;
}

#password_reset_new_form {
	width:400px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background: url(../images/sign_up_bg2.gif) no-repeat #fff;
	padding:20px;
	border:1px solid #B4B4B4;
	margin-right:auto;
	margin-left:auto;
	
}

#password_reset_new h2 {
	margin-left:7px;
}

#contact_container {
	width:450px;
	margin-right:auto;
	margin-left:auto;
}

#contact_form {
	width:400px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background: url(../images/contact_bg.gif) no-repeat #fff;
	padding:20px;
	border:1px solid #B4B4B4;
	margin-right:auto;
	margin-left:auto;
	
}

#contact_container h2 {
	margin-left:7px;
}

/*===ERRORS==========================================================*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#flash_messages {
	height:35px;
	margin-top:10px;
	margin-bottom:10px;
}

#notification {
	border: 2px solid #9c9;
	background-color: #cfc;
	padding: 11px 0 0 49px;
	margin:0;
	width: 600px;
	height: 22px;
	background-image: url(../images/Knob-Valid-Green.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size:10px;
}

#error{
	border: 2px solid;
	background-color: #FFBABA;
	padding: 12px 5px 5px 50px;
	margin: 10px 10px;
	width: 600px;
	height: 20px;
	background-image: url(../images/Knob-Cancel.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	border-color: #FF0000;
	font-size:12px;	
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: none;
}

