

<%= render :partial => "searches/panel" %>


	<div class="help">
		This section can be used to view all inspection personnel. Please just contact us with the candidate number to find out more information.
	</div>	

<% for user in @users %>
<%= render :partial => "user", :locals => {:user => user} %>
<% end %>

