<div class="content_container">
	<h3><%= @user.email %></h3>
	<%= render :partial => 'bio' %>
	<%= render :partial => 'quals' %>
	<%= render :partial => 'history' %>
	<div class="clear"></div>
<!-- END .content_container --></div>	
