- @users.each do |user|
<<<<<<< HEAD
 - if user.qualifications.exists? || admin?
=======
>>>>>>> adcaf29a82544e57b888e75fdc5256938764a3b8
  = render :partial => 'users/user', :locals => {:user => user} 
  