<h2 class="h2header">All levels</h2>
<span><%= link_to 'New level', new_level_path %></span>
	<ul> 
	<% for level in @levels %>
  	<li><h3><%=h level.level %> <span class="admin_links"><%= link_to 'Edit', edit_level_path(level) %>
    		<%= link_to 'Destroy', level, :confirm => 'Are you sure?', :method => :delete %></span></h3>
    </li>
<% end %>
</ul>
