<h2 class="h2header">All categories</h2>
<span><%= link_to 'New category', new_category_path %></span>
	<ul> 
	<% for category in @categories %>
  	<li><h3><%=h category.name %> <span class="admin_links"><%= link_to 'Edit', edit_category_path(category) %>
    		<%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></span></h3>
    </li>
<% end %>
</ul>
