<div class="content_container">
<h2>KADAKO Labour cc Site Use Terms</h2>

<p>The following terms apply to all use of the KADAKO Labour cc website (www.kadako.com) (“the Web Site”).</p>

<p>In these terms, reference to “we”, “us”, “our” and “ours” refers to KADAKO Labour cc (the owner of the Web Site) trading as “KADAKO Labour cc” (registered office: No. 7, 12th Avenue, Mossel Bay, 6500, Republic of South Africa). (“KADAKO Labour cc”) and reference to “you”, “your” and “yours” refers to the person visiting the Web Site.</p>

<p>The Web Site is your community and in order to protect it and keep it available as a leading resource in the Inspection labour sector, we need you to abide by the following terms in respect of your use of the Web Site for the sake of the whole community. We would ask you if you could please report any abuse of the Web Site including any breaches of these terms that come to your attention by contacting <%= mail_to "daniel.greyling@kadako.com" %> or <%= mail_to "lucas.greyling@kadako.com"%></p>

<h3>1. General interpretation</h3>

<p>1.1. Any headings in these terms are for ease of use and are not intended to form part of the terms nor effect their interpretation.</p>
<p>1.2. If you are more than one legal entity, each person or legal entity accepts joint and several liabilities under these terms.</p>
<p>1.3. Reference to something in the masculine form includes the feminine and neuter forms and vice versa and reference to the singular includes the plural and vice versa.</p>
<p>1.4. These terms are to be interpreted exclusively in accordance with South African Law and any disputes regarding these terms will be subject to the exclusive jurisdiction of South African courts of law.</p>

<h3>2. Access to the Web Site & use of specific areas</h3>

<p>2.1. Whilst we agree to use reasonable endeavours to ensure a properly functioning, accessible Web Site, you will appreciate that it is technically impossible to guarantee access to the Web Site 100% of the time or error-free functionality and we will not accept any responsibility for losses resulting from any temporary interruption of service or other problems with service. If any errors come to your attention, please notify us immediately and we will endeavour to remedy the problem as soon as reasonably possible.</p>

<p>2.2. We reserve the right to withdraw your right to use any members areas on the Web Site at any time, with or without justification and to withdraw all access codes (see below).</p>

<p>2.3. The content of any articles on the Web Site is intended to be interesting and informative and even humorous. However, it is, by its very nature, general. Whilst we make every effort to provide accurate, high quality content, we do not guarantee that it is error-free, truthful or accurate – this is particularly true of entries from other users of the Web Site. Therefore, you must independently verify any information given and take independent advice before acting or refraining from acting as a result of anything you read on the Web Site and we cannot accept any responsibility arising from your failure to so do.</p>

<p>2.4. Posting of your cv, opinions, comments, news and views and communications with us or other members:</p>

<p class="indent">2.4.1. All opinions, comments, news, information and other material you submit to us (whether intended for posting on the Web Site or not) and all communications with other members and users of the Web Site must not be inaccurate, erroneous, misleading, impolite, offensive, illegal, unlawful, immoral, defamatory or in breach of anyone else’s intellectual property rights and you warrant to us that that is the case and that you are entitled or authorised to submit those opinions, comments, news and views to us and that to allow us to use them in accordance with these terms;</p>

<p class="indent">2.4.2. Unless you expressly state to the contrary at the time of submission, upon submitting any opinions, comments, news and views to us, you automatically grant us an irrevocable, perpetual, worldwide, royalty-free licence to copy and reproduce whatever you have submitted to us in whole or in part, in its original form or as amended or edited by us for whatever purpose we decide at our discretion;</p>

<p class="indent">2.4.3. You consent to us crediting you with authorship of any material used by us under the licence granted in clause 2.4.2 above, although we reserve the right not to do so at our discretion;</p>

<p class="indent">2.4.4. You confirm you understand that by displaying the name or email address of a contact in any material, you are providing personal data to us. As such, you warrant that you have the consent of the person whose name you have given to appear on this Web Site in compliance with the Data Protection Act 1998 and agree to indemnify us against any costs, claims and liabilities arising from any breach of that Act in the supply of that information. In particular, you warrant that you have informed all people whose name, email address or other personal data you have supplied that by consenting they are acknowledging that they are aware that their personal data will be available worldwide including in jurisdictions where there are no adequate data protection laws.</p>

<p class="indent">2.4.5. We reserve the right not to publish any material you submit to us at our discretion without justification.</p>

<p>2.5. You acknowledge that all content on the Web Site is the copyright of either KADAKO Labour cc and that you may copy pages from the Web Site (unaltered and un-amended without deletion of any copyright notices and credits in our favour or in favour of anyone else) for your own personal use but you may not copy or reproduce any material on the Web Site in whole or in part (whether in its original form or as altered or amended) for any commercial purpose without our express written consent.</p>

<p>2.6. You acknowledge that although we require all people and organisations that publish information on this Web Site to ensure the accuracy of the information, it is not possible for us to guarantee it. You are advised to independently verify any information before relying on it.</p>

<p>2.7. Although all reasonable actions are taken to restrict unauthorised access to our database, we cannot guarantee that unauthorised access will not take place and therefore accept no responsibility for such.</p>

<h3>3. Your obligations</h3>

<p>3.1. We also reserve the right to refuse you as a member at the outset without justification.</p>

<p>3.2. If you are accepted as a member of the Web Site, you will be allocated a user name and password (“access codes”) to allow you to enjoy membership benefits from time to time. Please note that you are responsible for the safe keeping of your access codes and must not disclose it to anyone who is unauthorised or untrustworthy. You will be deemed responsible for any behaviour of or commitments made by someone who has gained access to your account by any means (with or without your consent). You are therefore advised to change your password regularly. In the event of a breach or suspected breach of these terms, we reserve the right to terminate you membership without notice or justification.</p>

<h3>4. KADAKO Labour cc CV Database</h3>

<p>4.1. The CV and other personal information that you provide to us will be made available to potential employers and agencies who are advertising vacancies with us or who have been granted access to the Database. Once your details have been passed on in this manner we cannot be held responsible for their onward distribution or use.</p>

<p>4.2 By submitting your CV and other details to us you acknowledge that you are aware that your personal data will be available worldwide including in jurisdictions where there are no adequate data protection laws.</p>

<h3>5. Privacy</h3>

<p>5.1. You understand that by displaying the name or email address of a contact in your advertisement, you are providing personal data to us. As such, you warrant that you have the consent of the person whose name or email address you have given to appear on the Web Site in compliance with the Data Protection Act 1998 and agree to indemnify us against any costs, claims and liabilities arising from any breach of that Act in the supply of that information. In particular, you warrant that you have informed all people whose name, email address or other personal data you have supplied that by consenting they are acknowledging that they are aware that their personal data will be available worldwide including in jurisdictions where there are no adequate data protection laws.</p>

<p>5.2. We, in turn, agree not to use that information other than for the display of any material you submit (whether or not amended or altered by us) on the Web Site or any other web site for which we provide content from time to time and to inform you of our other services and of developments on the Web Site.</p>

<p>5.3. If you choose to do so, we will use your personal data to send you details of any developments or new services we offer. We may also supply your personal data to companies whose products or services we think may be of interest to you or sell our database to a successor business if we cease trading. This means that your personal data may be made available in jurisdictions in which there may be no adequate data protection laws.</p>

<h3>6. Exemptions and Exclusions</h3>

<p>6.1. We provide hyperlinks to other sites for a variety of reasons including the provision of information. No matter what the purpose of the link, we have no control over the contents of the sites into which you may enter. Please therefore exercise due caution in the use of such sites and let us know of any complaints you may have (although we cannot get involved in disputes between you and the owner of any site into which we link). In any event, we cannot accept responsibility for any losses you incur as a result of following any link on our Web Site.</p>

<p>6.2. We upload our Web Site using a reasonably up-to-date virus checker but no virus checker is guaranteed to cover all viruses and other digital devices designed to interfere with the normal or proper functioning of software and hardware (“other bug”). Therefore, you are advised to maintain your own up-to-date virus checker and to exercise reasonable caution before downloading anything from our Web Site or any other site. We cannot accept responsibility for any loss arising from a virus or other bug acquired from our Web Site or any site into which we link from our Web Site.</p>

<h3>7. Copyright, etc.</h3>

<p>7.1. If you submit material to us for publishing on the Web Site or by way of comment on anything appearing on the Web Site, you grant us a perpetual, royalty-free, worldwide licence to reproduce that material in whole or in part (in the same form or as altered by us) and to grant other organisations (at our discretion) the sub-licence any of your material on such terms as we may agree with that third party.</p>

<h3>8. General provisions</h3>

<p>8.1. If we do not strictly enforce our rights under these terms at any time, we reserve the right to do so in future both in respect of a particular breach and in respect of any future breach.</p>

<p>8.2. These terms are not intended to benefit anyone other than you and us.</p>
<!-- END .content_container --></div>