	<div id="footer">
		<p id="footer_content">
		&copy; Copyright 2010
		<%= link_to "Terms of Service", :controller => "info", :action => "terms" %> | 
		<%= link_to "Contact us", :controller => "contact", :action => "index" %> 
		<span class="rc_text">Designed and built by:</span></p>
		<div id="rc">	
			<div id="rc_logo">
				<%= link_to "", "http://www.rebelcolony.com" %>
			</div>
		</div>	

	<!-- END #footer --></div>