	<div id="footer">
		<p id="footer_content">
		&copy; Copyright 2010
		<%= link_to "Terms of Service", :controller => "info", :action => "terms" %> | 
			<%= link_to "Contact us", :controller => "contact", :action => "index" %></p>
	<!-- END #footer --></div>